<div *ngIf="searchProp && articles.length == 0">
  <h4>No hay artículos que coincidan con tu busqueda</h4>
</div>
<div *ngIf="!searchProp && articles.length == 0">
  <div class="spinner"></div>
  <h2 class="loadingText">Cargando...</h2>
</div>
<div class="articles" *ngIf="articles || articles != []">
  <article
    class="article-item"
    id="article-template"
    *ngFor="let article of articles"
  >
    <div class="image-wrap">
      <img
        *ngIf="!article.image"
        src="assets/images/sinImagen.jpg"
        alt="{{ article.title }}"
      />
      <img
        *ngIf="article.image"
        src="{{ url + 'get-image/' + article.image }}"
        alt="{{ article.title }}"
      />
    </div>

    <h2>{{ article.title }}</h2>
    <span class="date"> {{ article.date | amLocale : "es" | amTimeAgo }} </span>
    <a [routerLink]="['/blog/article', article._id]">Leer más</a>
    <div class="clearfix"></div>
  </article>
</div>
